<!DOCTYPE html>
<html>
  <head>
    <title>Fingo</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/style.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="title">Mercader Galáctico</h1>
      <p>
        By adding your notes to this space you'll be able to answer all your
        galactic questions about Credits
      </p>
      <p>Go ahead and try!</p>
      <form method="post">
        {% csrf_token %} {{form}}
        <input class="submit-button" type="submit" value="Add Notes" />
      </form>
    </div>
    <div class="container">
      {%for i in txt%}
      <p>{{i}}</p>
      {% endfor %}
    </div>
  </body>
</html>
