body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f9dcc6;
  background-color: black;
}

.container {
  background-color: #124e59;
  padding: 15px;
  text-align: center;
  float: left;
  width: 40%;
  margin: 4%;
  height: 85vh;
}

.title {
  font-size: 45px;
  text-align: center;
}

.submit-button {
  width: 35%;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  display: block;
  margin: auto;
}

.left {
  text-align: left;
}
